<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- Define an appender to log to a file -->
  <appender name="securityEvents" class="org.apache.log4j.FileAppender">
    <param name="File" value="security-events.log" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
    </layout>
  </appender>

  <!-- Set the log level for the LoggerListener -->
  <logger name="org.springframework.security.access.event.LoggerListener">
    <level value="DEBUG" />
    <appender-ref ref="securityEvents" />
  </logger>

  <!-- You can define additional loggers and appenders here if needed -->

</log4j:configuration>
